body {
	background-image: url("images/planina.png");
}
h1 {
	font-size: 60px;
	font-family: arial;
}
p {
	font-size: 45px;
	font-family: arial;
	text-align: center;
}
a {
	text-align: center;
	text-decoration: none;
	color: white;
	font-size: 45px;
}
#p1 {
	text-align: center;
	font-size: 35px;
}